
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-principal: #C0C0C0;
    --bota-azul: #167BF7;
    --fundo: #00030C;
    --fonte-principal: 'inter';
    --hover--testes: #5aa5e2;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    
}

body {
    background: var(--fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
}

.container {
    background-repeat: no-repeat;
    height: 100vh;
    background-size: contain;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background: var(--bota-azul);
    border-radius: 8px;
    padding: 16px;
    color: var(--branco-principal);
    display: block; 
    text-decoration: none;
    font-weight: 400;
    margin-bottom: 1em;
    
}

.botao__secundario {
    background: transparent;
    border: 1px solid 
   
}

.container__p {
    font-size: 12px;
    color: var(--cinza-principal);
    font-weight: 400;
}


.secundario {
    align-items: center;
    margin: 0 10em;
}


.container__descricao {
    text-align: left;
    margin-right:10em;
}

.secundario.img {
    width: 80%;
    align-items: center;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.3em;
}

.descricao__texto {
    color: var(--cinza-principal);
    font-size: 16px;
    font-weight: 400;
}

.container__botao-2 {
    background: var(--bota-azul);
    border-radius: 8px;
    padding: 16px;
    color: var(--branco-principal);
    display: block; 
    text-decoration: none;
    font-weight: 400;
    margin-top: 1em;
    display: inline-block;
}

.lista__dispositivos {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
    
}

.dispositivos {
    text-align: center; 
}

.dispositivos__titulo {
    font-size: 48px;
    font-weight: 700;
}

.rodape {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style: none;

}
.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.rodape__p {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    margin-bottom: 99px;
}

.rodape__p p {
    color: var(--branco-principal);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.container__botao:hover {
    background-color: var(--hover--testes);
}

.container__botao:active {
    color: black;
}